.menu {
	font-size: 17px;
}
.form-content {
	background-color:#f0f0f0;
	border:1px solid #9b9b9b;
	border-radius:5px;
}
.h3-add {
	margin: 20px;
}
#toTop {
	position:fixed;
	bottom: 10px;
	right:10px;
	display:none;
}
